<template>
  <div class="flex justify-around items-center flex-wrap">
    <template v-for="(evolution, i) in sectionEvolutionData">
      <div
        class="w-4/12 p-5"
        :key="i"
        @click="$router.push(`/${evolution.name}/detail`)"
      >
        <img
          class="mb-2"
          v-lazy="`${urlPokemonImage}${evolution.id}.png`"
        /><span>{{ evolution.name }}</span>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    sectionEvolutionData: {
      type: Array,
      default: () => {
        return []
      },
    },
  },
  data() {
    return {
      urlPokemonImage:
        'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/',
    }
  },
}
</script>
