<template>
  <div class="mt-10 mb-10 flex flex-wrap justify-between lg:mx-32">
    <template v-for="(stats, i) in statsData">
      <OtherPercentageWidget
        :key="i"
        :percent="stats.base_stat"
        :title="stats.stat.name"
        :color="pokemonColor"
      />
    </template>
  </div>
</template>

<script>
export default {
  props: {
    statsData: {
      type: Array,
      default: () => {
        return []
      },
    },
    pokemonColor: {
      type: String,
      default: 'null',
    },
  },
}
</script>
