<template>
  <div>
    <ul class="flex justify-around items-center my-4">
      <template v-for="(tab, index) in tabs">
        <li
          :key="index"
          class="cursor-pointer py-1 px-4 rounded transition"
          :class="
            activeTab === index
              ? `bg-${pokemonColor}-500 text-white-full`
              : ' text-gray-500'
          "
          @click="activeTab = index"
          v-text="tab"
        ></li>
      </template>
    </ul>

    <div class="w-full bg-white text-center mx-auto">
      <div v-show="activeTab === 0">
        <TabsSectionBaseStats
          :stats-data="statsData"
          :pokemon-color="pokemonColor"
        />
      </div>
      <div v-show="activeTab === 1">
        <TabsSectionEvolution :section-evolution-data="evolutionData" />
      </div>
      <div v-show="activeTab === 2"><TabsSectionMoves /></div>
    </div>
  </div>
</template>

<script>
import _get from 'lodash/get'

import OtherMixin from '~/mixins/OtherMixin'

export default {
  mixins: [OtherMixin],
  props: {
    pokemonData: {
      type: Object,
      default: () => {
        return {}
      },
    },
    pokemonColor: {
      type: String,
      default: 'null',
    },
  },
  computed: {
    statsData() {
      return _get(this.pokemonData, 'pokemons[0].stats', [])
    },
    evolutionData() {
      return this.getNameAndId(_get(this.pokemonData, 'evolutions.species', []))
    },
  },
  data() {
    return {
      activeTab: 0,
      tabs: ['Base Stats', 'Evolution', 'Moves'],
    }
  },
}
</script>
