<template>
  <div
    class="
      flex
      items-center
      flex-wrap
      px-10
      bg-white-full
      shadow-xl
      rounded-2xl
      h-20
      mx-auto
      w-full
      mb-5
      justify-between
    "
  >
    <p class="font-medium text-gray-600">{{ normalizeText(title) }}</p>
    <div
      class="
        flex
        items-center
        justify-center
        -m-6
        overflow-hidden
        bg-white
        rounded-full
      "
    >
      <svg
        class="w-32 h-32 transform translate-x-1 translate-y-1"
        v-cloak
        aria-hidden="true"
      >
        <circle
          class="text-gray-300"
          stroke-width="10"
          stroke="currentColor"
          fill="transparent"
          r="30"
          cx="60"
          cy="60"
        />
        <circle
          :class="[colorClassText600(color)]"
          stroke-width="10"
          :stroke-dasharray="circumference"
          :stroke-dashoffset="circumference - (percent / 100) * circumference"
          stroke-linecap="round"
          stroke="currentColor"
          fill="transparent"
          r="30"
          cx="60"
          cy="60"
        />
      </svg>
      <span
        class="absolute text-1xl"
        :class="[colorClassText700(color)]"
        v-text="`${percent}`"
      ></span>
    </div>
  </div>
</template>

<script>
import _startCase from 'lodash/startCase'

export default {
  props: {
    percent: {
      type: Number,
      default: 0,
    },
    title: {
      type: String,
      default: '',
    },
    color: {
      type: String,
      default: 'null',
    },
  },
  data() {
    return {
      circumference: 30 * 2 * Math.PI,
    }
  },
  methods: {
    normalizeText(text) {
      return _startCase(text)
    },
    colorClassText600(color) {
      return {
        'text-green-600': color === 'green',
        'text-red-600': color === 'red',
        'text-blue-600': color === 'blue',
        'text-yellow-600': color === 'yellow',
        'text-white-600': color === 'white',
        'text-brown-600': color === 'brown',
        'text-purple-600': color === 'purple',
        'text-pink-600': color === 'pink',
        'text-gray-600': color === 'gray',
      }
    },
    colorClassText700(color) {
      return {
        'text-green-700': color === 'green',
        'text-red-700': color === 'red',
        'text-blue-700': color === 'blue',
        'text-yellow-700': color === 'yellow',
        'text-white-700': color === 'white',
        'text-brown-700': color === 'brown',
        'text-purple-700': color === 'purple',
        'text-pink-700': color === 'pink',
        'text-gray-700': color === 'gray',
      }
    },
  },
}
</script>
