<template>
  <div
    class="md:container md:mx-auto h-screen pt-36"
    :class="[`bg-${pokemonColor}-500`]"
  >
    <DetailPokemonBackButton />

    <div class="w-full bg-white-full rounded-t-3xl h-screen">
      <img
        v-if="pokemonId !== 0"
        class="w-60 h-60 mx-auto -top-28 relative"
        v-lazy="`${urlPokemonImage}/${pokemonId}.png`"
      />

      <div class="text-center p-5 -top-28 relative">
        <span class="text-gray-700 text-sm">{{
          setNumberingPokemon(pokemonId)
        }}</span
        ><br />

        <span class="text-gray-900 capitalize text-xl">{{ pokemonName }}</span>

        <SinglePokemonType
          class="w-min mx-auto mb-5"
          :pokemon-type="getPokemonData(pokemonType, 'type')"
        />

        <span>{{ pokemonDescription }}</span>
        <div class="flex justify-evenly mt-4 mb-4">
          <span>Height: {{ pokemonHeight }} m</span>
          <span>Weight: {{ pokemonWeight }} kg</span>
        </div>

        <span>Abilities</span>
        <SinglePokemonAbilities
          class="w-min mx-auto mb-6"
          :pokemon-abilities="getPokemonData(pokemonAbilities, 'ability')"
          :pokemon-color="pokemonColor"
        />

        <TabsWrapper
          :pokemon-data="pokemonData"
          :pokemon-color="pokemonColor"
        />
      </div>
    </div>
  </div>
</template>

<script>
import _get from 'lodash/get'
import detailPokemon from '~/apollo/queries/detailPokemon'

import OtherMixin from '~/mixins/OtherMixin'

export default {
  mixins: [OtherMixin],
  apollo: {
    species: {
      preFetch: true,
      query: detailPokemon,
      variables() {
        return {
          pokemonName: this.$route.params.pokemonName,
        }
      },
    },
  },
  computed: {
    pokemonData() {
      return _get(this.species, '[0]', {})
    },
    pokemonHeight() {
      return _get(this.pokemonData, 'pokemons[0].height', 0)
    },
    pokemonWeight() {
      return _get(this.pokemonData, 'pokemons[0].weight', 0)
    },
    pokemonId() {
      return _get(this.pokemonData, 'id', 0)
    },
    pokemonName() {
      return _get(this.pokemonData, 'name', '')
    },
    pokemonType() {
      return _get(this.pokemonData, 'pokemons[0].types', [])
    },
    pokemonAbilities() {
      return _get(this.pokemonData, 'pokemons[0].abilities', [])
    },
    pokemonDescription() {
      return _get(this.pokemonData, 'description[0].flavor_text', '')
    },
    pokemonColor() {
      return _get(this.pokemonData, 'pokemon_v2_pokemoncolor.name', '')
    },
  },
  data() {
    return {
      urlPokemonImage:
        'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/',
    }
  },
}
</script>
