<template>
  <ul class="flex mt-2">
    <li
      v-for="(type, i) in pokemonAbilities"
      :key="i"
      class="text-sm w-max border-2 rounded-md px-5 py-0 mr-3 uppercase"
      :class="[
        colorClassBorder500(pokemonColor),
        colorClassText500(pokemonColor),
      ]"
    >
      {{ type }}
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    pokemonColor: {
      type: String,
      default: 'null',
    },
    pokemonAbilities: {
      type: Array,
      defaut: () => {
        return []
      },
    },
  },
  methods: {
    colorClassBorder500(color) {
      return {
        'border-green-500': color === 'green',
        'border-red-500': color === 'red',
        'border-blue-500': color === 'blue',
        'border-yellow-500': color === 'yellow',
        'border-white-500': color === 'white',
        'border-brown-500': color === 'brown',
        'border-purple-500': color === 'purple',
        'border-pink-500': color === 'pink',
        'border-gray-500': color === 'gray',
      }
    },
    colorClassText500(color) {
      return {
        'text-green-500': color === 'green',
        'text-red-500': color === 'red',
        'text-blue-500': color === 'blue',
        'text-yellow-500': color === 'yellow',
        'text-white-500': color === 'white',
        'text-brown-500': color === 'brown',
        'text-purple-500': color === 'purple',
        'text-pink-500': color === 'pink',
        'text-gray-500': color === 'gray',
      }
    },
  },
}
</script>
