<template>
  <ul class="flex mt-2">
    <li
      v-for="(type, i) in pokemonType"
      :key="i"
      class="
        text-sm
        w-max
        border-typeBorder border-2
        rounded-md
        px-5
        py-0
        mr-3
        uppercase
      "
    >
      {{ type }}
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    pokemonType: {
      type: Array,
      defaut: () => {
        return []
      },
    },
  },
}
</script>
