<template>
  <div
    id="singlePokemonWrapper"
    class="rounded-md rounded-r-md mt-5 mb-5 w-auto mx-5 flex flex-wrap"
    :class="colorClassBg500(color)"
    @click="$router.push(`/${pokemonName}/detail`)"
  >
    <div class="py-5 px-5 flex-1 w-2/4">
      <div>
        <span class="text-gray-700 mr-5 text-xl">{{ pokemonNumber }}</span>
        <span class="text-gray-900 capitalize text-xl">{{ pokemonName }}</span>
      </div>

      <SinglePokemonType :pokemon-type="pokemonType" />
    </div>

    <div
      class="py-5 px-5 rounded-r-md rounded-l-full flex-auto"
      :class="colorClassBg400(color)"
    >
      <img width="100px" height="100px" v-lazy="pokemonImage" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: 'null',
    },
    pokemonNumber: {
      type: String,
      default: 'null',
    },
    pokemonName: {
      type: String,
      default: 'null',
    },
    pokemonImage: {
      type: String,
      default: 'null',
    },
    pokemonType: {
      type: Array,
      defaut: () => {
        return []
      },
    },
  },
  methods: {
    colorClassBg500(color) {
      return {
        'bg-green-500': color === 'green',
        'bg-red-500': color === 'red',
        'bg-blue-500': color === 'blue',
        'bg-yellow-500': color === 'yellow',
        'bg-white-500': color === 'white',
        'bg-brown-500': color === 'brown',
        'bg-purple-500': color === 'purple',
        'bg-pink-500': color === 'pink',
        'bg-gray-500': color === 'gray',
      }
    },
    colorClassBg400(color) {
      return {
        'bg-green-400': color === 'green',
        'bg-red-400': color === 'red',
        'bg-blue-400': color === 'blue',
        'bg-yellow-400': color === 'yellow',
        'bg-white-400': color === 'white',
        'bg-brown-400': color === 'brown',
        'bg-purple-400': color === 'purple',
        'bg-pink-400': color === 'pink',
        'bg-gray-400': color === 'gray',
      }
    },
  },
}
</script>

<style lang="scss" scoped>
#singlePokemonWrapper {
  cursor: pointer;
}
</style>
