<template>
  <div class="md:container md:mx-auto">
    <div
      v-if="$nuxt.isOffline"
      class="mx-5 font-bold py-1 text-white-full bg-red-500 text-center"
    >
      You are offline
    </div>
    <h1 class="text-3xl mt-3 mx-5">Pokédex ({{ countPokemon }})</h1>
    <template v-for="(pokemon, i) in listPokemon">
      <SinglePokemonWrapper
        :key="i"
        :color="pokemon.pokemon_v2_pokemoncolor.name"
        :pokemon-number="setNumberingPokemon(pokemon.id)"
        :pokemon-name="pokemon.name"
        :pokemon-image="`${urlPokemonImage}${pokemon.id}.png`"
        :pokemon-type="
          getPokemonData(
            pokemon.pokemon_v2_pokemons[0].pokemon_v2_pokemontypes,
            'pokemon_v2_type'
          )
        "
      />
    </template>
    <infinite-loading @infinite="infiniteHandler"></infinite-loading>
  </div>
</template>

<script>
import listPokemon from '~/apollo/queries/listPokemon'
import listCount from '~/apollo/queries/listCount'

import OtherMixin from '~/mixins/OtherMixin'

export default {
  mixins: [OtherMixin],
  apollo: {
    listPokemon: {
      preFetch: true,
      query: listPokemon,
      variables() {
        return {
          offset: 0,
          limit: 10,
        }
      },
    },
    listCount: {
      preFetch: true,
      query: listCount,
    },
  },
  computed: {
    countPokemon() {
      const counting = this.listCount?.aggregate
      return counting ? counting.count : 0
    },
  },
  data() {
    return {
      offset: 0,
      limit: 10,
      urlPokemonImage:
        'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/',
    }
  },
  methods: {
    fetchMoreListPokemon(offset) {
      return new Promise((resolved, rejected) => {
        this.$apollo.queries.listPokemon.fetchMore({
          variables: {
            offset,
          },

          updateQuery: (previousResult, { fetchMoreResult }) => {
            resolved(true)

            return {
              listPokemon: [
                ...previousResult.listPokemon,
                ...fetchMoreResult.listPokemon,
              ],
            }
          },
        })
      })
    },
    infiniteHandler($state) {
      this.offset = this.offset + this.limit
      this.fetchMoreListPokemon(this.offset).then((result) => {
        $state.loaded()
      })
    },
  },
}
</script>
